/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Nov 26, 2023, 10:23:11 PM
    Author     : Admin
*/

.footer-bottom{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    padding : 0;
}
.content_2{
    margin-left: 35px;
}
.logo-footer>img{
    width: 150px ;
    height: 150px ;
    border-radius: 120px;
}
.logo-footer{
    align-items: center;
    margin-right: -130px;
    margin-left: 70px;
}