/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Dec 1, 2023, 12:01:47 PM
    Author     : Admin
*/

.center{
    text-align: center !important;
}

.blue{
    color: #006bff
}

.order-button{
    background-color: rgb(0, 170, 255);
}
.order-button:hover{
    border-color: rgb(0, 170, 255);
    background-color: white;
}