<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>fpt.fu.prj301_se17c02_undeee.controllers.servlets.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>fpt.fu.prj301_se17c02_undeee.controllers.servlets.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrdersController</servlet-name>
        <servlet-class>fpt.fu.prj301_se17c02_undeee.controllers.servlets.CreateOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersHistoryController</servlet-name>
        <servlet-class>fpt.fu.prj301_se17c02_undeee.controllers.servlets.ViewOrdersHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerViewOrdersController</servlet-name>
        <servlet-class>fpt.fu.prj301_se17c02_undeee.controllers.servlets.CustomerViewOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrdersController</servlet-name>
        <url-pattern>/CreateOrdersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerViewOrdersController</servlet-name>
        <url-pattern>/order-history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
